<!DOCTYPE html>
<html>
  <head>
    <title>Dynamic Name</title>
  </head>
  <body>
    <h1>Welcome, <%= name %>!</h1>
    <form action="/" method="POST">
      <input type="text" name="newName" placeholder="Enter a new name">
      <button type="submit">Update</button>
    </form>
  </body>
</html>
